<section id="user-info" class="row">
  <div class="row heading">
    <p>Friends</p>
  </div>

  <section class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="friend-box">
        <%= image_tag "friend.png" %>
        <div class="friend-text">
          <a href="#">Hermione Granger</a>
          <h3>432 Friends</h3>
        </div>
        <button type="button" class="btn btn-primary">Unfriend Me</button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="friend-box">
        <%= image_tag "friend.png" %>
        <div class="friend-text">
          <a href="#">Hermione Granger</a>
          <h3>432 Friends</h3>
        </div>
        <button type="button" class="btn btn-primary">Unfriend Me</button>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="friend-box">
        <%= image_tag "friend.png" %>
        <div class="friend-text">
          <a href="#">Hermione Granger</a>
          <h3>432 Friends</h3>
        </div>
        <button type="button" class="btn btn-primary">Unfriend Me</button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="friend-box">
        <%= image_tag "friend.png" %>
        <div class="friend-text">
          <a href="#">Hermione Granger</a>
          <h3>432 Friends</h3>
        </div>
        <button type="button" class="btn btn-primary">Unfriend Me</button>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="friend-box">
        <%= image_tag "friend.png" %>
        <div class="friend-text">
          <a href="#">Hermione Granger</a>
          <h3>432 Friends</h3>
        </div>
        <button type="button" class="btn btn-primary">Unfriend Me</button>
      </div>
    </div>
    <div class="col-md-5">
      <div class="friend-box">
        <%= image_tag "friend.png" %>
        <div class="friend-text">
          <a href="#">Hermione Granger</a>
          <h3>432 Friends</h3>
        </div>
        <button type="button" class="btn btn-primary">Unfriend Me</button>
      </div>
    </div>
  </section>

</section>
