<section id="user-info" class="row">
  <div class="row heading">
    <p>Photos</p>
    <a href="#"><button class="btn btn-primary btn-xs">Add Photo!</button></a>
  </div>

  <div class="photo-grid">
    <section class="row">
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
    </section>

    <section class="row">
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
    </section>

    <section class="row">
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
    </section>

    <section class="row">
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
      <div class="col-md-3 photo">
        <div class="photo-info">
          Uploaded January 1, 2015
        </div>
        <%= image_tag "photos.jpg" %>
      </div>
    </section>
  </div>
</section>